{% extends 'base.html.twig' %}
{% block title %}
Todo
{% endblock %}
{% block body %}
<h1>Todo List</h1>
<ul>
{% for task in tasks %}
	<li>{{ task.task }}, due on {{ task.dueDate | date('M d, Y')}}</li>
{% endfor %}
</ul>
{% endblock %}
